@import "../../../css/variables";

.card {
  padding: 16px;
  border-radius: $br-b;
  background-color: $grey-800;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;
  }

  &__body {
    padding: 16px;
    border-radius: $br-m;

    background-color: $grey-750;
  }
}