@import '../../../css/variables';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: auto;
  padding: 16px;

  color: $grey-0;
  background-color: $grey-700;
}