@import '../../../css/variables';

.navbar {
  display: flex;
  flex-direction: column;

  z-index: 10;
  position: absolute;
  left: 0;
  width: 400px;
  height: 100dvh;

  background-color: $grey-700;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  @include transition;

  &--closed {
    width: 64px;
    align-items: flex-start;

    & > * 
    { width: 64px }

    .navbar__user {
      align-items: center;

      &__name, &__email, &__logo
      { display: none; }

      &__img {
        width: 36px;
        height: 36px;
        @include transition;
      }
    }

    .navbar__login span 
    { display: none; }

    .navbar__links, .navbar__options {
      align-items: center;
    }

    .navbar__link {
      width: 100%;
      justify-content: center;
      gap: 0px;

      &__name 
      { display: none; }
    }

    .navbar__signout {
      justify-content: center;
      
      span 
      { display: none; }
    }
  }

  &__user {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
    overflow: hidden;
    position: relative;
    min-height: 160px;
    padding: 64px 16px 16px 16px;
    border-bottom-left-radius: $br-s;
    border-bottom-right-radius: $br-s;

    color: $grey-700;
    background-color: $blue-50;

    &__img {
      width: 72px;
      height: 72px;
      margin-bottom: 16px;
      border: 3px solid $blue-400;
      border-radius: 50%;

      color: $grey-700;

      user-select: none;
      @include transition;
    }

    &__name
    { font-weight: 600 }

    &__logo {
      position: absolute;
      bottom: -32px;
      right: -8px;
      width: 96px;

      user-select: none;
      transform: rotate(-45deg);
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
    }

    &__burger {
      z-index: 10;
      position: absolute;
      top: 20px;
      right: 20px;

      color: $blue-400;

      font-size: 1.5rem;
      cursor: pointer;
      @include transition; 
    }
  }

  &__credentials, &__login { 
    svg { 
      font-size: 3.5rem;
      user-select: none;
    }
  }

  &__login {
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: $grey-700;

    font-size: 1.3rem;
    font-weight: 600;

    cursor: pointer;

    span 
    { text-decoration: underline; }
  }

  &__links, &__options {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 16px;
    
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;

    @include transition;

    &--active, &:hover
    { color: $blue-400 }

    &__icon {
      display: grid;
      place-items: center;
    }
  }

  &__signout {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 24px 16px;
    margin-top: auto;

    font-size: 1.2rem;
    font-weight: 600;

    cursor: pointer;
    @include transition;

    &--active, &:hover
    { background-color: $grey-650 }
  }
}