@import '../../../css/variables';

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px;

  .form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    &__inputs {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__input {
      position: relative;

      svg {
        position: absolute;
        top: 16px;
        left: 16px;
      }

      input {
        width: 100%;
        padding: 16px 16px 16px 48px;
        border-radius: $br-s;
        background-color: $grey-650;

        &::placeholder 
        { color: $grey-300 }
      }
    }

    &__cta {
      text-decoration: underline;
      cursor: pointer;
      @include transition;

      &:hover { color: $blue-500 }
    }

    &__submit {
      padding: 16px;
      margin-top: 32px;
      border-radius: $br-s;

      color: $blue-25;
      background-color: $blue-700;

      font-size: 1.2rem;
      font-weight: 600;
      
      cursor: pointer;
      @include transition;

      &:hover 
      { background-color: $blue-600; }
    }
  }
}