@import "../../../css/variables";

.month-tab {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: $br-b;

  background-color: $grey-800;

  &__btn {
    display: flex;
    align-items: center;

    width: 64px;
    height: 56px;

    font-size: 1.4rem;
    cursor: pointer;
    @include transition;

    &--prev {
      justify-content: flex-end;

      &:hover
      { padding-right: 4px }
    }

    &--next {
      justify-content: flex-start;

      &:hover
      { padding-left: 4px }
    }
  }

  &__month {
    width: 208px;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    user-select: none;
  }
}