$blue-900: hsl(218, 70%, 31%);
$blue-800: hsl(220, 75%, 38%);
$blue-700: hsl(218, 80%, 46%);
$blue-600: hsl(215, 85%, 51%);
$blue-500: hsl(211, 95%, 58%);
$blue-400: hsl(207, 100%, 66%);
$blue-300: hsl(206, 100%, 76%);
$blue-200: hsl(206, 100%, 85%);
$blue-100: hsl(209, 100%, 91%);
$blue-50:  hsl(206, 100%, 97%);
$blue-25:  hsl(210, 100%, 98%);

$grey-900: hsl(210, 14%, 5%);
$grey-800: hsl(210, 14%, 10%);
$grey-700: hsl(210, 14%, 15%);
$grey-600: hsl(210, 14%, 20%);
$grey-500: hsl(210, 14%, 23%);
$grey-400: hsl(210, 14%, 30%);
$grey-300: hsl(211, 14%, 35%);
$grey-200: hsl(210, 14%, 40%);
$grey-100: hsl(210, 14%, 45%);
$grey-50:  hsl(210, 14%, 50%);
$grey-25:  hsl(210, 14%, 55%);

$br-g: 12px;
$br-b: 9px;
$br-m: 6px;
$br-s: 3px;

@mixin transition
{ transition: all 0.1s ease-in-out }