@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');
@import '_imports.scss';
@import '_variables.scss';

* { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  outline: 0; 
  box-sizing: border-box;
}

html { 
  font-family: 'Montserrat', 'Oxygen', sans-serif;
  font-size: 16px;
}

body { 
  color: white;
  background-color: $grey-850;
}

input, button, textarea, a {
  font-family: inherit; 
  font-size: inherit;
  color: inherit; 
}

button {
  color: white;
  background-color: black;
}

.hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0; 
  }

  &::-webkit-scrollbar-thumb 
  { background: transparent }

  &::-webkit-scrollbar-track 
  { background: transparent }
}

.app
{
  display: flex;
  flex-direction: column;
  
  overflow: hidden;
  height: 100dvh;
  position: relative;
}

.btn {
  padding: 16px;
  border-radius: $br-s;

  color: black;
  background-color: white;

  font-size: 1.1rem;
  font-weight: 600;

  cursor: pointer;
  @include transition;

  &--full 
  { width: 100%; }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--bg-blue {
    color: white;
    background-color: $blue-600;

    &:hover 
    { background-color: $blue-500 }
  }

  &--bg-green {
    color: white;
    background-color: $green-500;

    &:hover 
    { background-color: $green-400 }
  }

  &--bg-red {
    color: white;
    background-color: $red-500;

    &:hover 
    { background-color: $red-400 }
  }
}