@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap");
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.access-denied {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 16px 64px 16px;
}
.access-denied__header {
  text-align: center;
}
.access-denied .btn {
  margin-top: 24px;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.register, .login {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100dvh;
}
.register__content, .login__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 480px;
  height: 100dvh;
  padding: 96px 32px;
}
.register__logo, .login__logo {
  width: 356px;
  margin-bottom: 64px;
}
.register__bg, .login__bg {
  width: calc(100% - 480px);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.form__oauth {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form__btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border-radius: 3px;
  color: hsl(215, 15%, 15%);
  background-color: white;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.form__btn:hover {
  color: white;
  background-color: hsl(215, 15%, 5%);
}
.form__btn:hover img {
  filter: invert(100%);
}
.form__btn img {
  width: 32px;
}
.form__divider {
  position: relative;
  height: 3px;
  background-color: hsl(215, 15%, 45%);
}
.form__divider__text {
  position: absolute;
  top: -9px;
  left: 50%;
  padding: 0 8px;
  background-color: hsl(215, 15%, 10%);
  transform: translate(-50%, 0);
}
.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form__input {
  position: relative;
}
.form__input svg {
  position: absolute;
  top: 16px;
  left: 16px;
}
.form__input input {
  width: 100%;
  padding: 16px 16px 16px 48px;
  border-radius: 3px;
  background-color: hsl(215, 15%, 30%);
}
.form__input input::-moz-placeholder {
  color: hsl(215, 15%, 65%);
}
.form__input input::placeholder {
  color: hsl(215, 15%, 65%);
}
.form__cta {
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.form__cta:hover {
  color: hsl(210, 90%, 60%);
}
.form__submit {
  padding: 16px;
  margin-top: 32px;
  border-radius: 3px;
  color: hsl(210, 90%, 98%);
  background-color: hsl(210, 90%, 45%);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.form__submit:hover {
  background-color: hsl(210, 90%, 50%);
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.month-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background-color: hsl(215, 15%, 15%);
}
.month-tab__btn {
  display: flex;
  align-items: center;
  width: 64px;
  height: 56px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.month-tab__btn--prev {
  justify-content: flex-end;
}
.month-tab__btn--prev:hover {
  padding-right: 4px;
}
.month-tab__btn--next {
  justify-content: flex-start;
}
.month-tab__btn--next:hover {
  padding-left: 4px;
}
.month-tab__month {
  width: 208px;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  left: 0;
  width: 400px;
  height: 100dvh;
  background-color: hsl(215, 15%, 23%);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
}
.navbar--closed {
  width: 64px;
}
.navbar--closed .navbar__user {
  align-items: center;
}
.navbar--closed .navbar__user__name, .navbar--closed .navbar__user__email, .navbar--closed .navbar__user__logo {
  display: none;
}
.navbar--closed .navbar__user__img {
  width: 36px;
  height: 36px;
  transition: all 0.1s ease-in-out;
}
.navbar--closed .navbar__login span {
  display: none;
}
.navbar--closed .navbar__links, .navbar--closed .navbar__options {
  align-items: center;
}
.navbar--closed .navbar__link {
  width: 100%;
  justify-content: center;
  gap: 0px;
}
.navbar--closed .navbar__link__name {
  display: none;
}
.navbar--closed .navbar__signout {
  justify-content: center;
}
.navbar--closed .navbar__signout span {
  display: none;
}
.navbar__user {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  min-height: 160px;
  padding: 64px 16px 16px 16px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: hsl(215, 15%, 23%);
  background-color: hsl(210, 90%, 95%);
}
.navbar__user__img {
  width: 72px;
  height: 72px;
  margin-bottom: 16px;
  border: 3px solid hsl(210, 90%, 65%);
  border-radius: 50%;
  color: hsl(215, 15%, 23%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.1s ease-in-out;
}
.navbar__user__name {
  font-weight: 600;
}
.navbar__user__logo {
  position: absolute;
  bottom: -32px;
  right: -8px;
  width: 96px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform: rotate(-45deg);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
}
.navbar__user__burger {
  z-index: 10;
  position: absolute;
  top: 20px;
  right: 20px;
  color: hsl(210, 90%, 65%);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.navbar__credentials svg, .navbar__login svg {
  font-size: 3.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.navbar__login {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: hsl(215, 15%, 23%);
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
.navbar__login span {
  text-decoration: underline;
}
.navbar__links, .navbar__options {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.navbar__link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
.navbar__link--active, .navbar__link:hover {
  color: hsl(210, 90%, 65%);
}
.navbar__link__icon {
  display: grid;
  place-items: center;
}
.navbar__signout {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 24px 16px;
  margin-top: auto;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.navbar__signout--active, .navbar__signout:hover {
  background-color: hsl(215, 15%, 30%);
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.page-header {
  padding-bottom: 16px;
  border-bottom: 2px solid hsl(215, 15%, 20%);
  text-align: center;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.email-sent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 520px;
  padding: 96px 16px;
  margin-inline: auto;
}
.email-sent__icon svg {
  font-size: 10rem;
  margin-block: 32px;
}
.email-sent__header, .email-sent__text {
  text-align: center;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.email-verify {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 520px;
  padding: 96px 16px;
  margin-inline: auto;
}
.email-verify__icon svg {
  font-size: 10rem;
  margin-block: 32px;
}
.email-verify__header, .email-verify__text {
  text-align: center;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.create-pwd {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  padding: 96px 16px;
  margin-inline: auto;
}
.create-pwd__icon svg {
  font-size: 10rem;
  margin-bottom: 64px;
}
.create-pwd__header {
  text-align: center;
}
.create-pwd__text {
  margin-bottom: 32px;
  color: hsl(215, 15%, 80%);
  font-size: 0.9rem;
  text-align: center;
}

.seeder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  min-height: 100dvh;
  padding: 32px;
}
.seeder__btn {
  width: 100%;
  padding: 16px;
  border-radius: 3px;
  color: hsl(215, 15%, 23%);
  background-color: white;
  text-align: center;
  font-weight: 600;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.transactions {
  position: relative;
  left: 64px;
  width: calc(100dvw - 64px);
  min-height: 100dvh;
  padding: 32px;
  animation: fade_in 0.15s forwards ease-in-out;
}
.transactions__top {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 48px;
}
.transactions__lists {
  display: flex;
  gap: 16px;
  width: 100%;
}
.transactions__group {
  flex: 1;
}
.transactions__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 2px solid hsl(215, 15%, 20%);
}
.transactions__label {
  font-size: 1.1rem;
  font-weight: 600;
}
.transactions__label--green {
  color: hsl(155, 90%, 40%);
}
.transactions__label--red {
  color: hsl(0, 90%, 55%);
}
.transactions__amount {
  font-size: 1.5rem;
  font-weight: 700;
}
.transactions__amount--green {
  color: #0df293;
}
.transactions__amount--red {
  color: #f65555;
}
.transactions__controls {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 8px;
  right: 0px;
}
.transactions__control {
  display: grid;
  place-items: center;
  padding: 8px;
  border-radius: 3px;
  color: hsl(215, 15%, 70%);
  background-color: hsl(215, 15%, 20%);
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.transactions__control:hover {
  color: hsl(215, 15%, 85%);
}
.transactions__control:active {
  color: hsl(215, 15%, 95%);
}
.transactions__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  margin-bottom: 20px;
  border-radius: 6px;
}

.transaction {
  display: flex;
  gap: 16px;
  padding: 16px 24px;
  border-radius: 6px;
  color: white;
  background-color: hsl(215, 15%, 20%);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.transaction:hover {
  background-color: hsl(215, 15%, 23%);
}
.transaction__indicator {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  margin-block: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
}
.transaction__indicator--income {
  color: hsl(215, 15%, 20%);
  border-color: hsl(155, 90%, 40%);
  background-color: hsl(155, 90%, 40%);
}
.transaction__indicator--expense {
  color: hsl(215, 15%, 20%);
  border-color: hsl(0, 90%, 55%);
  background-color: hsl(0, 90%, 55%);
}
.transaction__indicator__icon {
  font-size: 1.6rem;
}
.transaction__content {
  display: flex;
  flex-direction: column;
}
.transaction__info {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
  color: hsl(215, 15%, 70%);
}
.transaction__categories {
  display: flex;
  gap: 8px;
}
.transaction__category {
  padding: 4px 8px;
  border-radius: 3px;
  font-weight: 600;
}
.transaction__name {
  font-size: 1.2rem;
  font-weight: 600;
}
.transaction__status {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
}
.transaction__amount {
  font-size: 1.2rem;
  font-weight: 600;
}
.transaction__toggle {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.transaction__toggle--confirmed {
  border-color: hsl(155, 90%, 40%);
  color: hsl(215, 15%, 20%);
  background-color: hsl(155, 90%, 40%);
}
.transaction__toggle--confirmed:hover {
  border-color: hsl(155, 90%, 50%);
  background-color: hsl(155, 90%, 50%);
}
.transaction__toggle--unconfirmed {
  border-color: hsl(50, 100%, 50%);
  color: hsl(50, 100%, 50%);
}
.transaction__toggle--unconfirmed:hover {
  border-color: hsl(50, 100%, 60%);
  color: hsl(215, 15%, 20%);
  background-color: hsl(50, 100%, 60%);
}
.transaction__toggle__icon {
  font-size: 1.6rem;
}

.transaction-modal {
  position: relative;
  width: 640px;
  height: 800px;
  padding: 24px;
  border-radius: 9px;
  background-color: hsl(215, 15%, 15%);
}
.transaction-modal__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.transaction-modal__close {
  margin-left: auto;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.transaction-modal__close:hover {
  color: hsl(210, 90%, 65%);
}
.transaction-modal__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.transaction-modal__row {
  display: grid;
  gap: 16px;
}
.transaction-modal__row--0 {
  grid-template-columns: 7fr 3fr;
}
.transaction-modal__row--1 {
  grid-template-columns: 1fr 1fr;
}
.transaction-modal__input {
  display: flex;
  position: relative;
  border: 2px solid hsl(215, 15%, 55%);
  border-radius: 6px;
}
.transaction-modal__input--time > * {
  cursor: pointer;
}
.transaction-modal__icon {
  display: grid;
  place-items: center;
  width: 56px;
  height: 56px;
  padding: 15px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: hsl(215, 15%, 55%);
  background-color: hsl(215, 15%, 20%);
}
.transaction-modal__field {
  width: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: hsl(215, 15%, 20%);
  font-weight: 600;
}
.transaction-modal__field::-moz-placeholder {
  color: hsl(215, 15%, 55%);
  font-weight: 600;
}
.transaction-modal__field::placeholder {
  color: hsl(215, 15%, 55%);
  font-weight: 600;
}
.transaction-modal__clock {
  position: absolute;
  top: 60px;
  left: -2px;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", "Oxygen", sans-serif;
  font-size: 16px;
}

body {
  color: white;
  background-color: hsl(215, 15%, 10%);
}

input, button, textarea, a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  color: white;
  background-color: black;
}

.hide-scrollbar {
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.hide-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}
.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100dvh;
  position: relative;
}

.modal-bg {
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.btn {
  padding: 16px;
  border-radius: 3px;
  color: black;
  background-color: white;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.btn--full {
  width: 100%;
}
.btn--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.btn--bg-blue {
  color: white;
  background-color: hsl(210, 90%, 50%);
}
.btn--bg-blue:hover {
  background-color: hsl(210, 90%, 60%);
}
.btn--bg-green {
  color: white;
  background-color: hsl(155, 90%, 40%);
}
.btn--bg-green:hover {
  background-color: hsl(155, 90%, 50%);
}
.btn--bg-red {
  color: white;
  background-color: hsl(0, 90%, 55%);
}
.btn--bg-red:hover {
  background-color: hsl(0, 90%, 60%);
}

/*******************************************************************/
.Mui-focused {
  background-color: hsl(215, 15%, 30%) !important;
}
.Mui-focused > * {
  border: 0 !important;
}

.Mui-selected {
  border-radius: 6px !important;
}

.Mui-disabled {
  color: hsl(215, 15%, 40%) !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  border: 2px solid hsl(215, 15%, 55%) !important;
  border-radius: 6px !important;
  color: #fff !important;
  background-color: hsl(215, 15%, 20%) !important;
  font-weight: 600 !important;
  font-family: "Montserrat", sans-serif !important;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root .css-i4bv87-MuiSvgIcon-root {
  color: hsl(215, 15%, 55%) !important;
  transition: all 0.1s ease-in-out;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root .css-i4bv87-MuiSvgIcon-root:hover {
  color: #fff !important;
}

.css-1k4oq0i-MuiPaper-root-MuiPickersPopper-paper {
  margin-top: 4px;
}

.css-1k4oq0i-MuiPaper-root-MuiPickersPopper-paper,
.css-16b5y55-MuiPickersLayout-contentWrapper,
.css-1g7nc1s-MuiPickersLayout-root {
  border-radius: 12px !important;
}

.css-1q04gal-MuiDateCalendar-root {
  border: 2px solid hsl(215, 15%, 55%) !important;
  border-radius: 6px !important;
  background-color: hsl(215, 15%, 20%) !important;
}

.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  color: hsl(215, 15%, 70%) !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
}

.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root,
.css-31ca4x-MuiPickersFadeTransitionGroup-root {
  color: #fff !important;
  font-weight: 600 !important;
  font-family: "Montserrat", sans-serif !important;
}

.MuiPickersDay-today {
  border: 2px solid #fff !important;
  border-radius: 6px !important;
  color: #fff !important;
  font-weight: 600 !important;
  font-family: "Montserrat", sans-serif !important;
}

.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button,
.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button,
.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon {
  border-radius: 6px !important;
  color: #fff !important;
  transition: all 0.1s ease-in-out;
}
.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:hover,
.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:hover,
.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon:hover {
  background-color: transparent !important;
}

.css-1vs7z2v-MuiYearCalendar-root {
  scrollbar-width: none !important;
}
.css-1vs7z2v-MuiYearCalendar-root::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
.css-1vs7z2v-MuiYearCalendar-root::-webkit-scrollbar-thumb {
  background: transparent !important;
}
.css-1vs7z2v-MuiYearCalendar-root::-webkit-scrollbar-track {
  background: transparent !important;
}

.css-innj4t-MuiPickersYear-yearButton {
  border-radius: 6px !important;
  color: #fff !important;
  font-family: "Montserrat", sans-serif !important;
  transition: all 0.1s ease-in-out;
}
.css-innj4t-MuiPickersYear-yearButton:hover {
  background-color: hsl(215, 15%, 45%) !important;
}

/*******************************************************************/
.css-4pax7l-MuiPickersLayout-root {
  max-width: 320px !important;
  border: 2px solid hsl(215, 15%, 55%) !important;
  border-radius: 6px !important;
  background-color: hsl(215, 15%, 20%) !important;
}

.css-1hbyad5-MuiTypography-root {
  color: #fff !important;
  font-weight: 600 !important;
  font-family: "Montserrat", sans-serif !important;
}

.css-mvmxd9-MuiTypography-root-MuiPickersToolbarText-root,
.css-1f43ekz-MuiTypography-root-MuiPickersToolbarText-root-MuiTimePickerToolbar-separator {
  color: #fff !important;
  font-family: "Montserrat", sans-serif !important;
}

.css-1j9v0by-MuiClock-root {
  margin-top: 64px !important;
}

.css-tfwo93-MuiClock-squareMask {
  background-color: hsl(215, 15%, 30%) !important;
}

.css-zddqwy-MuiClockNumber-root,
.css-53ccts-MuiClockNumber-root {
  color: #fff !important;
  font-family: "Montserrat", sans-serif !important;
}

.css-2x8kvt-MuiPickersArrowSwitcher-root-MuiTimeClock-arrowSwitcher {
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
  padding-left: 24px !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: hsl(210, 90%, 50%) !important;
  font-weight: 600 !important;
  font-family: "Montserrat", sans-serif !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
  background-color: hsl(215, 15%, 30%) !important;
}/*# sourceMappingURL=app.css.map */