@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');
@import '_variables.scss';

* { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  outline: 0; 
  box-sizing: border-box; 
}

html { 
  font-family: 'Montserrat', 'Oxygen', sans-serif;
  font-size: 16px;
}

body { 
  color: $grey-0;
  background-color: $grey-800;
}

input, button, textarea { 
  font-size: inherit;
  color: inherit; 
}