@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');
@import '_imports.scss';
@import '_variables.scss';

* { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  outline: 0; 
  box-sizing: border-box;
}

html { 
  font-family: 'Montserrat', 'Oxygen', sans-serif;
  font-size: 16px;
}

body { 
  color: white;
  background-color: $grey-850;
}

input, button, textarea, a {
  font-family: inherit; 
  font-size: inherit;
  color: inherit; 
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  color: white;
  background-color: black;
}

.hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0; 
  }

  &::-webkit-scrollbar-thumb 
  { background: transparent }

  &::-webkit-scrollbar-track 
  { background: transparent }
}

.app
{
  display: flex;
  flex-direction: column;
  
  overflow: hidden;
  height: 100dvh;
  position: relative;
}

.modal-bg {
  display: grid;
  place-items: center;
  
  position: fixed;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.75);
}

.input {
  display: flex;
  
  z-index: 1;
  position: relative;
  border: 2px solid $grey-400;
  border-radius: $br-m;
  
  &--account > *, &--category > * 
  { cursor: pointer }

  &--time {
    z-index: 10;

    & > * 
    { cursor: pointer; }
  }

  &--disabled > * {
    cursor: not-allowed;
    opacity: 0.3;
  }

  &:hover > &__chevron 
  { color: #fff }

  &__icon {
    display: grid;
    place-items: center;

    width: 56px;
    height: 56px;
    padding: 15px;
    border-top-left-radius: $br-m;
    border-bottom-left-radius: $br-m;

    color: $grey-400;
    background-color: $grey-750;
  }

  &__field {
    width: 100%;
    border-top-right-radius: $br-m;
    border-bottom-right-radius: $br-m;
    
    background-color: $grey-750;
    font-weight: 600;

    &::placeholder { 
      color: $grey-400; 
      font-weight: 600;
    }
  }

  &__chevron {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;

    color: $grey-400;
    @include transition;
  }

  &__clock {
    position: absolute;
    top: 62px;
    left: -2px;
  }

  &__dropdown {
    z-index: 2;
    position: absolute;
    // top: 45px;
    top: 64px;
    left: 0px;
    width: 100%;
    // padding-top: 12px;
    border: 2px solid $grey-400;
    border-radius: $br-m;

    background-color: $grey-750;

    &--category {
      overflow-y: auto;
      max-height: 240px;
      @include scrollbar_small();
    }

    & > :last-child { 
      border-bottom-left-radius: 4px !important;
      border-bottom-right-radius: 4px !important; 
    }
  }

  &__wrapper
  { position: relative }
}

.switch {
  flex-grow: 1;

  display: grid;
  place-items: center;

  opacity: 0.3;
  height: 60px;
  border: 2px solid #00000000;

  font-size: 1.2rem;
  font-weight: 600;

  user-select: none;
  cursor: pointer;
  @include transition;

  &--selected
  { opacity: 1; }

  &--income {
    border-top-left-radius: $br-m;
    border-bottom-left-radius: $br-m;

    color: $green-400;
    border-color: $green-400;
    background-color: $green-bg;

    &:hover 
    { background-color: lighten($green-bg, 5%) }
  }

  &--expense {
    border-top-right-radius: $br-m;
    border-bottom-right-radius: $br-m;

    color: $red-400;
    border-color: $red-400;
    background-color: $red-bg;

    &:hover 
    { background-color: lighten($red-bg, 5%) }
  }
}

.toggle {
  display: flex;
  align-items: center;
  gap: 8px;

  height: 60px;
  padding-inline: 16px;
  border: 2px solid $grey-400;
  border-radius: $br-m;
  
  color: $grey-400;
  background-color: $grey-750;

  font-weight: 600;
  user-select: none;
  cursor: pointer;
  @include transition;

  &:hover 
  { background-color: $grey-700 }

  &--toggled {
    color: $green-400;
    border-color: $green-400;
    background-color: $green-bg;

    &:hover 
    { background-color: lighten($green-bg, 5%) }
  }

  &--untoggled {
    &--yellow {
      color: $yellow-400;
      background-color: $yellow-bg;

      &:hover 
      { background-color: lighten($yellow-bg, 5%) }
    }
  }

  &__checkbox {
    width: 24px;
    height: 24px;

    border: 2px solid $grey-400;
    border-radius: $br-s;

    @include transition;

    &--toggled {
      border-color: $green-400;
      background-color: $green-400;
    }

    &--untoggled {
      &--yellow {
        border-color: $yellow-400;
        background-color: $yellow-400;
      }
    }
  }
}

.btn {
  padding: 16px;
  border-radius: $br-s;

  color: black;
  background-color: white;

  font-size: 1.1rem;
  font-weight: 600;

  cursor: pointer;
  @include transition;

  &--full 
  { width: 100%; }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--bg-blue {
    color: white;
    background-color: $blue-600;

    &:hover 
    { background-color: $blue-500 }
  }

  &--bg-green {
    color: white;
    background-color: $green-500;

    &:hover 
    { background-color: $green-400 }
  }

  &--bg-red {
    color: white;
    background-color: $red-400;

    &:hover 
    { background-color: $red-300 }
  }
}

/*******************************************************************/
// Date selector \\

// Focused elements
.Mui-focused {
  background-color: $grey-650 !important;
  & > * { border: 0 !important }
}

// Selected elements
.Mui-selected 
{ border-radius: $br-m !important }

// Disabled elements
.Mui-disabled 
{ color: $grey-550 !important }

// Input field
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  border: 2px solid $grey-400 !important;
  border-radius: $br-m !important;
  
  color: #fff !important;
  background-color: $grey-750 !important;

  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif !important;

  .css-i4bv87-MuiSvgIcon-root { 
    color: $grey-400 !important;
    @include transition;
    
    &:hover 
    { color: #fff !important }
  }
}

// Calendar root frame
.css-1k4oq0i-MuiPaper-root-MuiPickersPopper-paper 
{ margin-top: 4px }

// Calendar frame wrappers
.css-1k4oq0i-MuiPaper-root-MuiPickersPopper-paper,
.css-16b5y55-MuiPickersLayout-contentWrapper,
.css-1g7nc1s-MuiPickersLayout-root 
{ border-radius: $br-g !important }

// Calendar frame
.css-1q04gal-MuiDateCalendar-root {
  border: 2px solid $grey-400 !important;
  border-radius: $br-m !important;
  background-color: $grey-750 !important;
}

// Weekday label
.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  color: $grey-250 !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600 !important;
}

// Month day
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root,
.css-31ca4x-MuiPickersFadeTransitionGroup-root {
  color: #fff !important;
  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif !important;
}

// Current day
.MuiPickersDay-today {
  border: 2px solid #fff !important;
  border-radius: $br-m !important;

  color: #fff !important;

  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif !important;
}

// Buttons and selectors
.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button,
.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button,
.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon {
  border-radius: $br-m !important;
  color: #fff !important;
  @include transition;

  &:hover 
  { background-color: transparent !important }
}

// Year selector
.css-1vs7z2v-MuiYearCalendar-root {
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important; 
  }

  &::-webkit-scrollbar-thumb 
  { background: transparent !important }

  &::-webkit-scrollbar-track 
  { background: transparent !important }
}

// Year selector button
.css-innj4t-MuiPickersYear-yearButton {
  border-radius: $br-m !important;
  color: #fff !important;
  font-family: 'Montserrat', sans-serif !important;
  @include transition;

  &:hover 
  { background-color: $grey-500 !important }
}

/*******************************************************************/
// Time selector \\

// Time selector frame 
.css-4pax7l-MuiPickersLayout-root {
  max-width: 320px !important;
  border: 2px solid $grey-400 !important;
  border-radius: $br-m !important;
  background-color: $grey-750 !important;
}

// Select time label
.css-1hbyad5-MuiTypography-root {
  color: #fff !important; 
  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif !important;
}

// Digital clock
.css-mvmxd9-MuiTypography-root-MuiPickersToolbarText-root,
.css-1f43ekz-MuiTypography-root-MuiPickersToolbarText-root-MuiTimePickerToolbar-separator {
  color: #fff !important;
  font-family: 'Montserrat', sans-serif !important;
}

// Analog clock wrapper 
.css-1j9v0by-MuiClock-root
{ margin-top: 64px !important }

// Analog clock background 
.css-tfwo93-MuiClock-squareMask {
  background-color: $grey-650 !important;
}

// Analog clock times 
.css-zddqwy-MuiClockNumber-root,
.css-53ccts-MuiClockNumber-root {
  color: #fff !important;
  font-family: 'Montserrat', sans-serif !important;
}

// Analog clock switchers
.css-2x8kvt-MuiPickersArrowSwitcher-root-MuiTimeClock-arrowSwitcher {
  display: flex !important;
  justify-content: space-between !important;
  
  width: 100% !important;
  padding-left: 24px !important;
}

// Time selector buttons
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: $blue-600 !important;
  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif !important;

  &:hover 
  { background-color: $grey-650 !important }
}