@import '../../../../../css/variables';

.email-sent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  padding: 24px;

  &__icon svg {
    font-size: 10rem;
    margin-block: 32px;
  }

  &__header, &__text
  { text-align: center; }
}