@import '../../../css/variables';

.transactions {
  &__lists {
    display: flex;
    gap: 16px;
    width: 100%;
  }
  
  &__group {
    flex: 1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    overflow-y: scroll;
    border-radius: $br-m;
  }
}

.transaction {
  padding: 16px;
  border-radius: $br-m;
  
  color: $grey-0;
  background-color: $grey-750;
}