@import "../../../css/variables";

.modal--trans {
  display: flex;
  flex-direction: column;

  position: relative;
  width: 664px;
  height: 880px;
  padding: 24px;
  border-radius: $br-b;
  
  background-color: $grey-800;

  &__header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 32px;
  }

  &__close {
    margin-left: auto;
    font-size: 2rem;
    cursor: pointer;
    @include transition;

    &:hover
    { color: $red-400 }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__row {
    display: grid;
    gap: 16px;

    &--0 
    { grid-template-columns: 7fr 3fr }

    &--1 
    { grid-template-columns: 3fr 3fr 4fr }

    &--2 
    { grid-template-columns: 5.5fr 4.5fr }

    // &--3 
    // { grid-template-columns: 1fr 1fr 1fr }

    &--4 
    { grid-template-columns: 3fr 3fr 2fr }

    &--5 
    { grid-template-columns: 4fr 4fr 2fr }

  }

  &__switches 
  { display: flex }

  .account, .category, .recurring-period {
    display: flex;
    gap: 12px;

    padding: 16px;
    font-weight: 600;
    cursor: pointer;
    @include transition;

    &:hover, &--selected
    { background-color: $grey-650; }
  }

  .btn
  { margin-top: auto }
}