@import "../../../css/variables";

.modal--trans {
  display: flex;
  flex-direction: column;

  position: relative;
  width: 664px;
  height: 880px;
  padding: 24px;
  border-radius: $br-b;
  
  background-color: $grey-800;

  &__header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 32px;
  }

  &__close {
    margin-left: auto;
    font-size: 2rem;
    cursor: pointer;
    @include transition;

    &:hover
    { color: $red-400 }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__row {
    display: grid;
    gap: 16px;

    &--0 
    { grid-template-columns: 7fr 3fr }

    &--1 
    { grid-template-columns: 3fr 1.75fr 4fr }

    &--2 
    { grid-template-columns: 1fr 1.1fr 0.7fr 0.75fr }

    // &--3 
    // { grid-template-columns: 1fr 1fr 1fr }

    &--4 
    { grid-template-columns: 3fr 3fr 2fr }

    &--5 
    { grid-template-columns: 4fr 4fr 2fr }

  }

  &__switches 
  { display: flex }

  .account, .category, .recurring-period {
    display: flex;
    gap: 12px;

    padding: 16px;
    font-weight: 600;
    cursor: pointer;
    @include transition;

    &:hover, &--selected
    { background-color: $grey-650; }
  }

  &__btns
  { 
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: auto;
  }

  .input__bg {
    z-index: 9;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .input__clock {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}