@import "../../../css/variables";

.month-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  padding: 20px;
  border-radius: $br-b;

  background-color: $grey-800;

  &__btn {
    display: flex;
    align-items: center;

    width: 32px;

    font-size: 1.4rem;
    cursor: pointer;
    @include transition;

    &--prev {
      justify-content: flex-end;

      &:hover
      { padding-right: 4px }
    }

    &--next {
      justify-content: flex-start;

      &:hover
      { padding-left: 4px }
    }
  }

  &__month {
    font-size: 1.4rem;
    font-weight: 600;
    user-select: none;
  }
}