@import '../../../../../css/variables';

.email-verify {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  width: 520px;
  padding: 96px 16px;
  margin-inline: auto;

  &__icon svg {
    font-size: 10rem;
    margin-block: 32px;
  }

  &__header, &__text
  { text-align: center; }
}